{% extends 'base.html' %}
{% block title %}Книжные новости{% endblock %}
{% block main %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Новости</a> </li>
    </ol>
</div>
<div class="container">
{% for news_list in object_list %}
    <div class="thumbnail">
        <div class="caption">
            <b>{{ news_list.title }}</b>
            <p align="right">{{ news_list.create_date }}</p>
            <p>{{ news_list.content|safe|truncatechars_html:300 }}</p>
            <p><a href="{% url 'news-detail' news_list.slug %}">Подробнее</a></p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}